export(fastBM)
export(getnetmets)
export(nodeHeights)
export(pbtree)
export(randtips)
export(req)
export(sim_rand_nets)
export(sim_traits_nets_par)
export(sim_traits_nets)
export(sim_traits_nets2)
export(sim_traits_ontrees)
export(simbal)
export(simbaltrees)
export(traitsig)
import(ape)
import(apTreeshape)
import(bipartite)
import(geiger)
import(parallel)
import(picante)
import(plyr)
import(reshape2)
