export(fastBM)
export(getnetmets)
export(nodeHeights)
export(pbtree)
export(randtips)
export(req)
export(sim_rand_nets)
export(sim_raits_nets)
export(simbal)
export(simbaltrees)
export(traitsig)
import(plyr)
import(ape)
import(apTreeshape)
import(bipartite)
import(ggplot2)
import(reshape2)
import(doMC)
import(picante)